* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

body {
  height: 100%;
}

.header {
  width: 95%;
  margin-top: 3.333rem;
  margin-left: auto;
  z-index: 100;
}

.nav {
  position: relative;
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__line {
  position: absolute;
  left: 11%;
  width: 36%;
  height: 1px;
  z-index: 100;
  background-color: #d0d6f9;
  opacity: 0.2;
}
.nav__logo {
  width: 4rem;
  height: 4rem;
}
.nav__menu {
  width: 55%;
  height: inherit;
  padding-left: 7%;
  display: flex;
  align-items: center;
  gap: 4%;
  list-style: none;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.7742px);
}
.nav__link {
  padding: 3.3rem 0;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  letter-spacing: 2.7px;
  color: #ffffff;
}
.nav__link--active {
  border-bottom: 3px solid #ffffff;
}
.nav__digit {
  font-weight: 700;
  padding-right: 0.916rem;
}

.body {
  background: url("../assets/destination/background-destination-desktop.jpg") no-repeat;
  background-size: cover;
  background-color: #0b0d17;
  height: 95%;
}

.main {
  width: 100%;
  padding: 6rem 1rem;
}

.destination {
  overflow: hidden;
  max-width: 90rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
}
.destination__description {
  grid-column: 1/4;
  grid-row: 1/1;
  width: auto;
  font-size: 2.33rem;
  font-weight: 400;
  letter-spacing: 4.72px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Barlow Condensed", sans-serif;
}
.destination__digit {
  opacity: 0.25;
  font-weight: 700;
  margin-right: 2.33rem;
}
.destination__tab-container {
  width: 40.5%;
  height: 3.083rem;
  margin-top: 5.333rem;
  margin-bottom: 3.083rem;
  grid-column: 1/4;
  grid-row: 2/3;
  justify-self: flex-end;
}
.destination .btn {
  margin-right: 2.91rem;
  padding-bottom: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.33rem;
  font-weight: 400;
  letter-spacing: 2.7px;
  font-family: "Barlow Condensed", sans-serif;
  color: #ffffff;
}
.destination__tab--active {
  border-bottom: 3px solid #ffffff;
}
.destination__content {
  grid-column: 1/4;
  grid-row: 3/4;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transform: translateX(-5rem);
}
.destination__content--active {
  opacity: 1;
  transform: translateX(0);
  transition: 0.7s ease-in-out;
}
.destination__img {
  width: 45%;
  padding-left: 5.33rem;
}
.destination .img {
  width: 100%;
  object-fit: cover;
}
.destination__article {
  position: relative;
  width: 37.083rem;
}
.destination__header {
  margin: 0;
  margin-bottom: 1.1666rem;
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-size: 8.33rem;
  color: #ffffff;
  text-transform: uppercase;
}
.destination__text {
  margin-bottom: 4.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.6666rem;
  font-family: "Barlow", sans-serif;
  color: #d0d6f9;
}
.destination__line {
  position: relative;
  width: 100%;
  left: 0;
  margin-bottom: 2.333rem;
}
.destination .distance {
  display: flex;
  gap: 6.583rem;
}
.destination .distance__container {
  width: auto;
}
.destination .distance__heading {
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 1.1666rem;
  font-weight: 400;
  letter-spacing: 2.36px;
  font-family: "Barlow Condensed", sans-serif;
  color: #d0d6f9;
}
.destination .distance__text {
  font-size: 2.333rem;
  font-family: "Bellefair", serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}

/*# sourceMappingURL=destination.css.map */
