// @use "./reset";
@use "./variables";

.header {
  width: 95%;
  margin-top: 40px;
  margin-left: auto;
}

.nav {
  position: relative;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__line {
    position: absolute;
    left: 13%;
    width: 35%;
    height: 1px;
    z-index: 100;
    background-color: variables.$secudary-color;
    opacity: 0.2;
  }

  &__logo {
    width: 48px;
    height: 48px;
  }

  &__menu {
    width: 55%;
    height: inherit;
    padding-left: 7%;

    display: flex;
    align-items: center;
    // gap: 40px;
    gap: 4%;

    list-style: none;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px);
  }

  &__link {
    padding: 3.66rem 0;

    text-decoration: none;
    text-transform: uppercase;
    font-family: variables.$Barlow-Condensed;
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: 2.7px;
    color: variables.$tertiary-color;

    &--active {
      border-bottom: 3px solid variables.$tertiary-color;
    }
  }
  &__link:hover {
    border-bottom: 3px solid #979797;
  }

  &__digit {
    font-weight: 700;
    padding-right: 0.916rem;
  }
}
