@use "./reset";
@use "./nav";
@use "./variables";

.body {
  background: url("../assets/destination/background-destination-desktop.jpg")
    no-repeat;
  background-size: cover;
  background-color: variables.$primary-color;
  height: 95%;
}

.main {
  width: 100%;
  padding: 6rem 1rem;
}

.destination {
  overflow: hidden;
  max-width: 90rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);

  &__description {
    grid-column: 1/4;
    grid-row: 1/1;
    width: auto;
    font-size: 2.33rem;
    font-weight: 400;
    letter-spacing: 4.72px;
    text-transform: uppercase;
    color: variables.$tertiary-color;
    font-family: variables.$Barlow-Condensed;
  }

  &__digit {
    opacity: 0.25;
    font-weight: 700;
    margin-right: 2.33rem;
  }

  &__tab-container {
    width: 40.5%;
    height: 3.083rem;
    margin-top: 5.333rem;
    margin-bottom: 3.083rem;
    grid-column: 1/4;
    grid-row: 2/3;
    justify-self: flex-end;
  }

  .btn {
    margin-right: 2.91rem;
    padding-bottom: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.33rem;
    font-weight: 400;
    letter-spacing: 2.7px;
    font-family: variables.$Barlow-Condensed;
    color: variables.$tertiary-color;
  }

  &__tab--active {
    border-bottom: 3px solid variables.$tertiary-color;
  }

  &__content {
    grid-column: 1/4;
    grid-row: 3/4;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transform: translateX(-5rem);
  }

  &__content--active {
    opacity: 1;
    transform: translateX(0);
    transition: 0.7s ease-in-out;
  }

  &__img {
    width: 45%;
    padding-left: 5.33rem;
  }

  .img {
    width: 100%;
    object-fit: cover;
  }

  &__article {
    position: relative;
    width: 37.083rem;
  }

  &__header {
    margin: 0;
    margin-bottom: 1.1666rem;
    font-family: variables.$Bellefair;
    font-weight: 400;
    font-size: 8.33rem;
    color: variables.$tertiary-color;
    text-transform: uppercase;
  }

  &__text {
    margin-bottom: 4.5rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.6666rem;
    font-family: variables.$Barlow;
    color: variables.$secudary-color;
  }

  &__line {
    position: relative;
    width: 100%;
    left: 0;
    margin-bottom: 2.333rem;
  }

  .distance {
    display: flex;
    gap: 6.583rem;

    &__container {
      width: auto;
    }

    &__heading {
      margin-bottom: 1rem;
      text-transform: uppercase;
      font-size: 1.1666rem;
      font-weight: 400;
      letter-spacing: 2.36px;
      font-family: variables.$Barlow-Condensed;
      color: variables.$secudary-color;
    }

    &__text {
      font-size: 2.333rem;
      font-family: variables.$Bellefair;
      font-weight: 400;
      text-transform: uppercase;
      color: variables.$tertiary-color;
    }
  }
}
