@use "./reset";
@use "./nav";
@use "./variables";

body {
  background: url("../assets/home/background-home-desktop.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
}

.main {
  width: 100%;
}

.section {
  max-width: 1120px;
  padding: 1.3rem;

  margin: 0 auto;
  padding-top: 13%;
  display: flex;
  justify-content: space-between;

  &-article {
    width: 450px;
    .article__heading {
      font-size: 150px;
      font-family: variables.$Bellefair;
      color: variables.$tertiary-color;
      font-weight: 400;
      margin: 0;
    }

    .article__sub-heading {
      font-size: 2.3rem;
      font-weight: 400;
      letter-spacing: 4.72px;
      font-family: variables.$Barlow-Condensed;
      color: variables.$secudary-color;
    }

    .article__text {
      font-size: 1.5rem;
      font-family: variables.$Barlow;
      font-weight: 400;
      line-height: 32px;
      color: variables.$secudary-color;
    }
  }

  &__button {
    width: 274px;
    height: 274px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 32px;
    font-weight: 400;
    font-family: variables.$Bellefair;
    letter-spacing: 2px;
    align-self: flex-end;
    outline: 88px solid transparent;
    transition: 0.7s ease-in-out;

    &:hover {
      outline-color: rgba(255, 255, 255, 0.1);
      transition: 0.7s ease-in-out;
    }
  }
}
